body {
    background-color: #eef6fc;
}

.contact_form h2 {
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 5px;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 443px;
}

.contact_form ul {
    list-style: none;
    padding-left: 0;
}

.contact_form label {
    color: #555555;
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 3px;
    width: 90px;
    margin: 0;
}

.contact_form input,
.contact_form select {
    height: 30px;
    width: 236px;
    padding: 5px 8px;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    font-size: 12px;
    color: #555;
}

.contact_form textarea {
    width: 220px;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    color: #888;
    font-size: 12px;
    resize: vertical;
}


.contact_form input:focus,
.contact_form textarea:focus,
.contact_form select:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0px 0px 3px #aaa;
}

.contact_form input[type="checkbox"] {
    margin-left: 90px;
}

.contact_form label[for="privacidad"] {
    width: auto;
    display: inline;
    font-weight: normal;
}

.contact_form button.submit {
    margin-left: 90px;
    padding: 9px 17px;
    font-family: helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #444;
    border: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
    background-image: linear-gradient(to bottom, #fff, #bbb);
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 100px;
}

.contact_form button.submit:hover {
    opacity: .55;
    cursor: pointer;
    color: #fff;
}

.contact_form button.submit:active {
    border: 1px solid #222;
    box-shadow: 0 0 10px 5px #444 inset;
}

.contact_form .form_group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}